<html>
<head>
    <title>Chat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/teststyle.css') }}">
    <!--<link rel="stylesheet" href="teststyle.css">-->
</head>
<body>
    <script type="text/javascript">
    function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}
     console.log("cookie that we found:" + getCookie('Loginwala'))
     $(document).ready(function(){
       var socket=io.connect('http://192.168.43.37:5000');
       var sreg=io.connect('http://192.168.43.37:5000/reg')
       var us=getCookie('Loginwala')
       sreg.emit('regi',us)
       socket.on("connect",function()
       {
         //var us=getCookie('Loginwala'
         socket.send(us);
       });
        // suser=io.connect('http://192.168.43.37:5000/users')
         sreg.emit('GetOthers',us)
         sreg.on('GetUserList',function(payload){
           //console.log("printng other users here.. " + payload[0] + "," + payload[1])
           $('#rec').html("")
          for(i=0;i<payload['len'];i++)
           {
             console.log(payload['key'][i])
             nam=payload['key'][i]
             $('#rec').append("<option value='" +nam+ "'>" + nam +"</option>")
           }
         });
       socket.on('new_message',function(msg){
         $("#messages").append('<li>'+msg+'</li>')
       });

        $('#sendb').click(function(){
         console.log("button is pressed");
         if($('#myMessage').val() != "")
         {
           console.log('receiver is:' + $('#rec').val())
           socket.emit('sendmess',{'rece':$('#rec').val(),'message':$('#myMessage').val()});
           $('#myMessage').val('');
       }
       //socket.emit('roomc')
       //console.log('emitted')
       });
     });
    </script>
    <ul id="messages">

    </ul>
    <!--<textarea id="myMessage"></textarea>-->
    <!--<input type="text" id="myMessage">-->
    <textarea row=5 col=10 id="myMessage"></textarea>
    <button id="sendb">
    Send
    </button>
    <br/><br/>
    <select id="rec">
      <!--<option value="ankur">Ankur</option>
      <option value="shantanu">Shantanu</option>-->
    </select>
</body>
</html
